@use '../../Shared/Variables' as S;

.SForm{
    border-radius: 15px;
    border: none;
    position: relative;
    .SBtn{
        position: absolute;
        bottom: 20px;
        right: 20px;
        background: S.$mainColor;
        font-weight: 600;
        outline: none;
        border: none;
    }
}