@use '../../Shared/Variables' as S;

.FriendRequest{
    display: flex;
    img{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
    }
    .data{
        display: flex;
        flex-direction: column;
        font-weight: bold;
    }
    button{
        background: transparent;
        outline: none;
        border: none;
        color: grey;
        display: inline-block;
        position: relative;
        &:first-child{
            color: S.$mainColor;
        }
        &::after{
            content: '';
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: S.$mainColor;
            transform-origin: bottom right;
            transition: transform 0.25s ease-in-out;
        }
        &:hover::after{
            transform: scaleX(1);
            transform-origin: bottom left;
        }
    }
}