.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .Links{
        img{
            width: 50px;
        }
    }
    .Profile{
        button{
            background: transparent;
            width: 50px;
            height: 50px;
            border: none;
            border-radius: 50%;
            overflow: hidden;
            img{
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
        }
    }
}