@use '../../Shared/Variables' as S;

.BurnCard{
    text-align: center;
    background: #fff;
    border-radius: 15px;
    box-shadow: 1px 4px 20px rgba(0, 0, 0, 0.11);
    position: relative;
    border: 2px solid grey;
    label{
        &:hover{
            cursor: pointer;
        }
        input{
            display: none;
        }
    }
    button{
        position: absolute;
        bottom: 20px;
        right: 20px;
        background: S.$mainColor;
        outline: none;
        border: none;
        color: white;
        font-weight: 600;
        box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
        border-radius: 24px;
    }
}
.warning{
    width: 80%;
    margin-inline: auto;
    p{
        background: #ea8b0785;
        display: inline-block;
        border-radius: 20px;
    }
}
.result{
    color: white;
    background: S.$mainColor;
    width: 40%;
    border-radius: 20px;
    margin-inline: auto;
}
.modal{
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    .modalContent {
        background-color: #fefefe;
        margin: 15% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 30%;
        text-align: center;
        border-radius: 20px;
        font-weight: bold;
        color: grey;
    }
    .close{
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

}