@use './Shared/Variables' as S;

.Layout{
  display: flex;
  aside{
    width: 20%;
    ul{
      list-style: none;
      padding: 0;
      li{
        padding: 10px;
        a{
          padding: 10px;
          text-decoration: none;
          color: grey;
          border-radius: 5px;
          transition: all ease-in-out 0.2s;
          &:hover{
            background: S.$mainColor;
            color: white;
          }
        }
      }
    }
  }
  main{
    background: S.$accentColor;
    border-radius: 10px;
    width: 60%;
  }
}