.first {
  background-color: #ffdadc;
}
.second {
  background-color: #fa858c;
}
.third {
  background-color: #ff1c2a;
}
.NA {
  background-color: #fdf2b4;
}
.namesProp {
  color: black;
  text-decoration: none;
}
